# Raw data files (too large for GitHub)
data/*.csv
data/*.tsv
data/*.zip

# OS files
.DS_Store
Thumbs.db

# Python (if any preprocessing scripts)
__pycache__/
*.py[cod]
.env

*.csv
.idea/workspace.xml
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/Activate.ps1
/.venv/bin

.venv/
.idea/
__pycache__/
.ipynb_checkpoints/
